/* Navbar.css */

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    padding: 10px 20px;
    color: white;
  }
  
  .logo img {
    width: 60px;
    height: auto;
  }
  
  .nav-menu {
    list-style: none;
    display: flex;
  }
  
  .nav-item {
    margin-right: 50px;
    margin-left: 50px;
  }
  
  .nav-item a {
    text-decoration: none;
    color: white;
    font-size: larger;
  }
  
  .dropdown-menu {
    display: none;
    position: absolute;
    background-color: #333;
    margin-top: 10px;
    padding: 10px;
    border-radius: 5px;
  }
  
  .nav-item.dropdown:hover .dropdown-menu {
    display: block;
  }
  
  .buttons .button {
    border: none;
    padding: 10px 20px;
    border-radius: 25px;
    background-color: #FF5722;
    color: white;
    cursor: pointer;
    align-items: end;
  }
  
  .buttons .swap {
    background-color: #42A5F5;
    margin-right: 10px;
  }
  
  .buttons .refund {
    background-color: #EF5350;
  }
  